body {
    background-image: none;
    height: 650px;
    margin: 0;
}

#header {
    margin-top: 20px;
    margin-left: 35px;
}

#left {
    float: left;
}


#content {
    width: 100%;
}

#center {
    float: left;
    margin: -170px 15px 15px 15px;
}

@media (max-width: 1209px) {
    #center {
        margin-top: -100px;
        left: 50%;
        position: relative;
        margin-left: -465px;
    }
}

#line {
    background-image: url('images/gallery/punkteschlaufe.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 1958px;
    height: 136px;
    margin-top: 25px;
    margin-bottom: 25px;
    bottom: 0px;
}

#logo {
    background-image: url('images/gallery/logo.png');
    background-repeat: no-repeat;
    width: 156px;
    height: 130px;
    margin: 30px 15px 30px 30px;
    position: relative;
}

@media (max-width: 1209px) {
    #logo {
        left: 50%;
        margin-left: -78px;
    }
}


.gallery {
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-box {
    background-image: url('images/gallery/canvas.png');
    height: 600px;
    width: 900px;
    margin: 15px 15px 15px 15px;
    position: relative;
}

#gallery-picture {
    height: 550px;
    width: 800px;
    left: 50%;
    padding: 25px 50px 25px 50px;
}

.gallery-link {
    position: fixed;
    height: 380px;
    width: 767px;
    left: 50%;
    margin-left: -385px;
    margin-top: 40px;
}

.arrow {
    position: absolute;
    background-repeat: no-repeat;
    top: 275px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#leftarrow {
    left: 0;
}

#rightarrow {
    right: 0;
}

.play-button {
    width: 56px;
    height: 55px;
    position: absolute;
    cursor: pointer;
}

#spot1 {
    top: 204;
    left: 250;
    display: none;
}

#spot2 {
    top: 204;
    left: 587;
    display: none;
}

#spot3 {
    top: 414;
    left: 163;
    display: none;
}

#spot4 {
    top: 414;
    left: 439;
    display: none;
}

#spot5 {
    top: 414;
    left: 715;
    display: none;
}

#text {
    width: 200px;
    height: auto;
    margin: 50px 25px 0 25px;
    /* float: left; */
}

#text-low {
    width: 100%;
    /* margin: 25px 450px 25px 25px; */
    position: relative;
}

#caption1, #caption2{
    font-size: 12;
    font-family: Verdana;
    font-weight: bold;
    color: rgb(115,117,120);
    text-align: left;
}

#description{
    font-size: 12;
    font-family: Verdana;
    color: rgb(115,117,120);
    text-align: left;
}

@media (max-width: 1209px) {
    #description, #caption1, #caption2 {
        text-align: center;
        width: 100%;
        position: relative;
    }
}

.gallery-navigation {
    background-repeat: no-repeat;
    margin-left: 75px;
    float: left;
    cursor: pointer;
}

#top-bar {
    margin: 100px 15px 50px 15px;
}

#left-bar {
    width: 250px;
}

@media (max-width: 1209px) {
    #left-bar {
        display: none;
    }
}

#lower-bar {
    display: none;
    width: 100%;
}

@media (max-width: 1209px) {
    #lower-bar {
        display: block;
    }
}

#ci {
    background-image: url('images/navigation/gallery/nav_ci_default.png');
    width: 235px;
    height: 19px;
}

#ci.active {
    background-image: url('images/navigation/gallery/nav_ci_activ.png');
    width: 260px;
}

#web {
    background-image: url('images/navigation/gallery/nav_webdesign_default.png');
    width: 150px;
    height: 19px;
}

#web.active {
    background-image: url('images/navigation/gallery/nav_webdesign_activ.png');
    width: 178px;
}

#etc {
    background-image: url('images/navigation/gallery/nav_sonstiges_default.png');
    width: 139px;
    height: 19px;
}

#etc.active {
    background-image: url('images/navigation/gallery/nav_sonstiges_activ.png');
    width: 165px;
}


#back-nav {
    background-image: url('images/navigation/gallery/back_btn.png');
    background-repeat: no-repeat;
    height: 28px;
    width: 190px;
    /* float: left; */
    margin-left: 0;
}