body {
    background-color: white;
    background-image: url('images/body.png');
    background-repeat: no-repeat;
    background-position: 50%;
    height: 3900px;
    width: 1150px;
}

#vita {
    position: absolute;
    left: 50%;
    top: 886px;
    margin-left: 100px;
}

#picture {
    background-image: url('images/picture.png');
    background-repeat: no-repeat;
    height: 303px;
    width: 312px;
    position: absolute;
    margin-left: -433px;
}

#vita_text {
    background-repeat: no-repeat;
    height: 287px;
    width: 250px;
    position: absolute;
    top: -15px;
    margin-left: -109px;
}

#vita_text_title>p {
    font-size: 18;
    font-family: Helvetica;
    color: rgb(145,147,150);
    text-align: left;
}

#vita_text>p{
    font-size: 11;
    font-family: Verdana;
    color: rgb(115,117,120);
    text-align: left;
    margin-top: -5px;
}

#vita_title {
    background-image: url('images/caption/vita.png');
    background-repeat: no-repeat;
    height: 168px;
    width: 313px;
    position: fixed;
    margin-left: -30px;
}

#portfolio {
    position: absolute;
    left: 50%;
}

#portfolio_title {
    background-image: url('images/caption/portfolio.png');
    background-repeat: no-repeat;
    height: 170px;
    width: 712px;
    position: fixed;
    margin-left: -330px;
}

#portfolio_button {
    background-image: url('images/portfolio_btn.png');
    background-repeat: no-repeat;
    height: 106px;
    width: 760px;
    top: 1770px;
    position: absolute;
    margin-left: -356px;

}

#contact {
    position: absolute;
    left: 50%;
}

#contact_title {
    background-image: url('images/caption/kontakt.png');
    background-repeat: no-repeat;
    height: 168px;
    width: 630px;
    position: fixed;
    margin-left: -315px;
}

#contact_text{
    height: 121px;
    width: 194px;
    position: relative;
    top: 2780px;
    margin-left: 90px;
}

#contact_text>p{
    font-size: 14;
    font-family: Verdana;
    color: rgb(115,117,120);
    text-align: right;
}

a:link#mail {
    font-family: Verdana-Bold;
    text-decoration: none;
    color: rgb(95,97,100);
    border: 1px dotted;
    border-color: white;
    margin-left: -2em;
}

a:hover#mail {
    border: 1px dotted;
    border-color: rgb(71,176,184);
}

#impressum {
    position: absolute;
    left: 50%;
}

#impressum_title {
    background-image: url('images/caption/impressum.png');
    background-repeat: no-repeat;
    height: 183px;
    width: 822px;
    position: fixed;
    margin-left: -411px;
}

#impressum_text {
    top: 3500px;
    height: 265px;
    width: 650px;
    position: relative;
    margin-left: -325px;
}

#impressum_text>p{
    font-size: 11;
    font-family: Verdana;
    color: rgb(115,117,120);
    text-align: center;
}

ul {
    list-style-type: none;
}

#nav {
    position: fixed;
    top: 50%;
    margin-left: -48px;
    margin-top: -150px;
    z-index: 2000;
}

.nav-item {
    background-repeat: no-repeat;
    height: 47px;
    width: 182px;
    margin-left: -38px;
    transition: margin-left 0.5s ease-out;
    -webkit-transition: margin-left 0.5s ease-out;
    -moz-transition: margin-left 0.5s ease-out;
    -ms-transition: margin-left 0.5s ease-out;
    -o-transition: margin-left 0.5s ease-out;
}

.navSlide, .active {
    margin-left: 0;
}

#nav-item1 {
    background-image: url('images/navigation/vita_aktiv.png');
}

#nav-item2 {
    background-image: url('images/navigation/portfolio_aktiv.png');
}

#nav-item3 {
    background-image: url('images/navigation/kontakt_aktiv.png');
}

#nav-item4 {
    background-image: url('images/navigation/impressum_aktiv.png');
}

#preload {
    display: none;
}

#preload img {
    height: 0;
    width: 0;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -30;
}