html {
    overflow-x: hidden;
    width:100%;
}

body {
    background-color: white;
    background-image: url('images/body.png');
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100%;
    height: 3900px;
    margin: 0;
}

#content {
    width: 100%;
}

#logo {
    height: 877px;
    width: 100%;
}

#vita {
    width: 100%;
    height: 925px;
}

#vita_box {
    width: 860px;
    left: 50%;
    margin-left: -333px;
    position: relative;
}

#picture {
    background-image: url('images/picture.png');
    background-repeat: no-repeat;
    height: 303px;
    width: 312px;
    float: left;
}

#vita_text {
    width: 250px;
    float: left;
    margin-left: 10px;
}

#vita_text_title>p {
    font-size: 18;
    font-family: Helvetica;
    color: rgb(145,147,150);
    text-align: left;
    margin-top: 0;
}

#vita_text>p {
    font-size: 11;
    font-family: Verdana;
    color: rgb(115,117,120);
    text-align: left;
    margin-top: -5px;
}

@media (max-width: 992px) {
    #vita_text>p {
        font-size: 13;
    }
}

@media (max-width: 768px) {
    #vita_text>p {
        font-size: 15;
    }
}

#vita_title {
    height: 168px;
    width: 313px;
    left: 50%;
    max-width: 35%;
    position: fixed;
    margin-left: 68px;
    background-image: url('images/caption/vita.png');
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 348px) {
    #vita_title {
        margin-left: -30px;
    }
}

#portfolio {
    height: 975px;
    width: 100%;
}

#portfolio_title {
    position: fixed;    
    height: 170px;
    width: 712px;
    left: 50%;
    max-width: 90%;
    margin-left: -350px;
    background-image: url('images/caption/portfolio.png');
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 791px) {
    #portfolio_title {
        margin-left: -45%;
    }
}

#portfolio_button {
    background-image: url('images/portfolio_btn.png');
    background-repeat: no-repeat;
    height: 106px;
    width: 760px;
    position: relative;
    left: 50%;
    margin-left: -380px;
}

@media (max-width: 845px) {
    #portfolio_title {
        margin-left: -45%;
    }
}

#contact {
    width: 100%;
    height: 700px;
}

#contact_title {
    height: 168px;
    width: 630px;
    max-width: 90%;
    position: fixed;
    margin-left: -315px;
    left: 50%;
    background-image: url('images/caption/kontakt.png');
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 700px) {
    #contact_title {
        margin-left: -45%;
    }
}

#contact_text{
    width: 194px;
    position: relative;
    margin-left: 90px;
    left: 50%;
}

#contact_text>p {
    font-size: 14;
    font-family: Verdana;
    color: rgb(115,117,120);
    text-align: right;
}

@media (max-width: 992px) {
    #contact_text>p {
        font-size: 13;
    }
}

@media (max-width: 768px) {
    #contact_text>p {
        font-size: 15;
    }
}

.link {
    cursor: pointer;
}

a:link#mail {
    font-family: Verdana-Bold;
    text-decoration: none;
    color: rgb(95,97,100);
    border: 1px dotted;
    border-color: white;
    margin-left: -2em;
}

a:hover#mail {
    border: 1px dotted;
    border-color: rgb(71,176,184);
}

a:hover.powered {
    border-bottom: 1px dotted;
    border-color: rgb(71,176,184);
}

.powered {
    text-decoration: none;
    color: rgb(115,117,120);
    border-bottom: 1px dotted white;
}

#impressum {
    width: 100%;
}

#impressum_title {
    position: fixed;
    height: 183px;
    width: 822px;
    left: 50%;
    max-width: 90%;
    margin-left: -411px;
    background-image: url('images/caption/impressum.png');
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 913px) {
    #impressum_title {
        margin-left: -45%;
    }
}

#impressum_text {
    width: 650px;
    max-width: 90%;
    position: relative;
    margin-left: -325px;
    left: 50%;
}

@media (max-width: 650px) {
    #impressum_text {
        margin-left: -45%;
    }
}

#impressum_text>p {
    font-size: 11;
    font-family: Verdana;
    color: rgb(115,117,120);
    text-align: center;
}

@media (max-width: 992px) {
    #impressum_text>p {
        font-size: 13;
    }
}

@media (max-width: 768px) {
    #impressum_text>p {
        font-size: 15;
    }
}

ul {
    list-style-type: none;
}

#nav {
    position: fixed;
    top: 50%;
    margin-left: -40px;
    margin-top: -150px;
    z-index: 2000;
}

@media (max-width: 1200px) {
    #nav {
        display: none;
    }
}

.nav-item {
    background-repeat: no-repeat;
    height: 47px;
    width: 182px;
    margin-left: -38px;
    transition: margin-left 0.5s ease-out;
    -webkit-transition: margin-left 0.5s ease-out;
    -moz-transition: margin-left 0.5s ease-out;
    -ms-transition: margin-left 0.5s ease-out;
    -o-transition: margin-left 0.5s ease-out;
}

.navSlide, .active {
    margin-left: 0;
}

#nav-item1 {
    background-image: url('images/navigation/vita_aktiv.png');
}

#nav-item2 {
    background-image: url('images/navigation/portfolio_aktiv.png');
}

#nav-item3 {
    background-image: url('images/navigation/kontakt_aktiv.png');
}

#nav-item4 {
    background-image: url('images/navigation/impressum_aktiv.png');
}

#preload {
    display: none;
}

#preload img {
    height: 0;
    width: 0;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -30;
}