body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100%;
    /* height: 100%; */
    background-attachment: fixed;
    min-width: 900px;
    /* min-height: 900px; */
    background-image: linear-gradient(bottom, rgb(114,111,135) 0%, rgb(186,177,194) 25%, rgb(255,255,255) 50%);
    background-image: -o-linear-gradient(bottom, rgb(114,111,135) 0%, rgb(186,177,194) 25%, rgb(255,255,255) 50%);
    background-image: -moz-linear-gradient(bottom, rgb(114,111,135) 0%, rgb(186,177,194) 25%, rgb(255,255,255) 50%);
    background-image: -webkit-linear-gradient(bottom, rgb(114,111,135) 80px, rgb(186,177,194) 25%, rgb(255,255,255) 50%);
    background-image: -ms-linear-gradient(bottom, rgb(114,111,135) 0%, rgb(186,177,194) 25%, rgb(255,255,255) 50%);
    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0px, rgb(114,111,135)),
	color-stop(251px, rgb(186,177,194)),
        color-stop(0.50, rgb(240,240,240)),
	color-stop(90%, rgb(255,255,255)));
}

#fixed {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1000;
    left: 0px;
    right: 0px;
    top: 0px;
}

#logo {
    background-image: url('Amberpharm-Logo.png');
    background-repeat: no-repeat;
    background-size: 150px;
    width: 150px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
} 

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGMVNtom4QlEDNJaqqqzqdSs.woff) format('woff');
}

#content {
    position: absolute;
    width: 500%;
    margin-top: 250px;
}

#home-title {
    width: 900px;
    font-family: 'Source Sans Pro';
    font-size: 30pt;
    text-align: center;
    color: #9f9a96;
    left: 10%;
    margin-left: -450px;
    position: relative;
}

#home-frame {
    position: absolute;
    width: 900px;
    left: 10%;
    margin-left: -450px;
    height: 260px;
    margin-top: 10px;
    z-index: 20;
}

#slideshow {
    left: 50%;
    margin-left: -450px;
    position: absolute;
    background-image: url('Startseite/Slideshow_Rahmen.png');
    background-size: 900px;
    width: 900px;
    height: 250px;

}

.slide {
    left: 1.4%;
    top: 4.9%;
    width: 876px;
    height: 226px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    position: absolute;
    display: none;
}

.first-slide {
    display: inline;
}


#about-frame {
    position: absolute;
    background-image: url('Wir_ueber_uns/Wir-ueber-uns_Textrahmen.png');
    background-size: 900px;
    width: 900px;
    height: 330px;
    left: 30%;
    margin-left: -450px;
    margin-top: -50px;
    z-index: 21;
}

#about-text, #about-title {
    position: relative;
    left: 5%;
    width: 90%;
    font-family: 'Source Sans Pro';
}

#about-title {
    top: 7.5%;
    color: #9f9a96;
    font-size: 30pt;
    text-align: center;
}

#about-text {
    top: 10%;
    color: #323232;
    font-size: 12pt;
    text-align: left;
}

#products {
    width: 100%;
    /* left: 50%; */
    /* margin-left: -500px; */
    position: absolute;
    /* height: 750px; */
}

#product-selection {
    position: absolute;
    width: 1000px;
    left: 50%;
    margin-left: -500px;
}

.kreis, .dummy {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 210px;
    width: 210px;
    height: 210px;
    z-index: 10;
}

.kreis {
    background-image: url('Produkte/Kreis_aktiv.png');
}

.dummy {
    background-image: url('Produkte/Kreis_ruhe.png');
}

#kreis1 {
    left: 7.5%;
}

#kreis2 {
    left: 37.5%;
}

#kreis3 {
    left: 67.5%;
}

#alge-text, #salz-text, #auster-text {
    margin-top: 200px;
}

.caption {
    font-family: 'HelveticaNeue';
    font-size: 30px;
    color: #323232;
    text-align: center;
    z-index: 1;
}

.product {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 150px;
    width: 150px;
    height: 150px;
    margin: 30px 30px;
    z-index: 100;
    border-spacing: 85px;
    /* transition: transform 0.5s ease-out; */
    /* -webkit-transition: -webkit-transform 0.5s ease-out; */
    /* -moz-transition: -moz-transform 0.5s ease-out; */
    /* -ms-transition: -ms-transform 0.5s ease-out; */
    /* -o-transition: -o-transform 0.5s ease-out; */
    -webkit-transform: scale(0.85,0.85);
    -moz-transform: scale(0.85,0.85);
    -ms-transform: scale(0.85,0.85);
    -o-transform: scale(0.85,0.85);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
}

.product-hover {
    /* transform: scale(1,1); */
    /* transform-origin: 50% 50%; */
    /* -webkit-transform-origin: 50% 50%; */
    /* -ms-transform-origin: 50% 50%; */
    /* -moz-transform-origin: 50% 50%; */
    /* -o-transform-origin: 50% 50%; */
    /* -ms-transform: scale(1,1); /\* IE 9 *\/ */
    /* -moz-transform: scale(1,1); /\* Firefox *\/ */
    /* -webkit-transform: scale(1,1); /\* Safari and Chrome *\/ */
    /* -o-transform: scale(1,1); /\* Opera *\/ */
    border-radius: 90px;
    border-color: grey;
    box-shadow: 0px 0px 5px 5px grey;
}

#alge {
    background-image: url('Produkte/Alge.png');
}

#product-frame {
    margin-bottom: 50px;
    left: 50%;
    margin-left: -450px;
    width: 900px;
    position: absolute;
    background-color: rgba(255,255,255,0.4);
    display: none;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
    z-index: 250;
    overflow-y: scroll;
}

.product-title {
    width: 100%;
    text-align: center;
    font-size: 16pt;
    font-family: 'Source Sans Pro';
    color: #323232;
    z-index: 300;
}

.product-text {
    position: relative;
    width: 50%;
    left: 45%;
    text-align: left;
    font-size: 12pt;
    font-family: 'Source Sans Pro';
    color: #323232;
    padding-bottom: 50px;
    z-index: 300;
}

#auster {
    background-image: url('Produkte/Auster.png');
}

#salz {
    background-image: url('Produkte/Salz.png');
}

.product-image {
    margin-left: 5%;
    background-size: 300px;
}

#product1, #product2, #product3 {
    z-index: 501;
    display: none;
}

#image-alge1 {
    background-image: url('Produkte/Unterseiten/Elemente/Alge/alge_bild.png');
    margin-top: -585px;
    margin-bottom: 75px;
    width: 300px;
    height: 200px;
}

#image-alge2 {
    background-image: url('Produkte/Unterseiten/Elemente/Alge/alge_packshot.png');
    margin-top: 25px;
    margin-bottom: 75px;
    width: 300px;
    height: 200px;
}

#image-auster1 {
    background-image: url('Produkte/Unterseiten/Elemente/Auster/auster_bild.png');
    margin-top: -425px;
    margin-bottom: 75px;
    width: 300px;
    height: 200px;
}

#image-auster2 {
    background-image: url('Produkte/Unterseiten/Elemente/Auster/auster_packshot.png');
    margin-top: 25px;
    margin-bottom: 50px;
    width: 300px;
    height: 420px;
}

#image-salz1 {
    background-image: url('Produkte/Unterseiten/Elemente/Salz/salz_bild.png');
    margin-top: -625px;
    margin-bottom: 75px;
    width: 300px;
    height: 200px;
}

#image-salz2 {
    background-image: url('Produkte/Unterseiten/Elemente/Salz/salz_packshot.png');
    margin-top: 25px;
    margin-bottom: 125px;
    width: 300px;
    height: 200px;
}

#contact {
    position: absolute;
    width: 900px;
    height: 330px;
    left: 70%;
    margin-left: -450px;
    margin-top: -100px;
}

#contact-info {
    position: absolute;
    left: 10%;
    top: 25%;
}

#contact-form {
    position: absolute;
    left: 60%;
    top: 25%;
    display: block;
    width: 30%;
    z-index:1000;
}

#contact-name, #contact-mail, #contact-msg {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    /* height: 10px; */
    line-height: 15pt;
    background-color: lightgrey;
}

#contact-msg {
    position: relative;
    height: 150px;
}

#contact-button {
    position: absolute;
    background-color: lightgrey;
    color: grey;
    right: 0%;
}


#impressum {
    position: absolute;
    width: 800px;
    height: 330px;
    left: 90%;
    margin-left: -400px;
    margin-top: -25px;
}

#impressum-info p, #contact-info p {
    margin: 0;
}

#impressum-info, #impressum-text, #contact-info {
    position: absolute;
    font-family: 'Source Sans Pro';
    font-size: 12pt;
    text-align: left;
    display: inline-block;
    color: #323232;
}

#impressum-text {
    left: 35%;
}

#impressum-text p {
    font-size: 9pt;
}

#nav {
    z-index: 2000;
    width: 610px;
    margin-top: 10px;
    margin: auto;
}

#nav ul {
    padding: 0px;
    list-style: none;
}

#nav-line {
    background-image: url('Navigation/1_Navigation-Linie.png');
    background-repeat: no-repeat;
    background-size: 900px;
    width: 900px;
    height: 17px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 45px; */
    padding-left: 5px;
    padding-right: 5px;
}

#nav li {
    display: inline;
}

.nav {
    display: inline-block;
    font-size: 15pt;
    font-family:"HelveticaNeue-UltraLight";
    color: #9f9a96;
    line-height: 15pt;
    text-align: center;
}

.nav:hover {
    font-family:"HelveticaNeue";
}

.nav-item {
    display: inline-block;
    cursor: pointer;
}

.active-nav {
    /* text-decoration: underline; */
    /* text-decoration-color: #736f89; */
    font-family:"HelveticaNeue";
    border-bottom: 2px solid #736f89;
}

.active-product {
    display: block !important;
}

#nav-item1 {
    width: 58px;
}

#nav-item1a {
    width: 65px;
}

#nav-item2a {
    width: 158px;
}

#nav-item2 {
    width: 120px;
}

#nav-item3a {
    width: 102px;
}

#nav-item3 {
    width: 88px;
}

#nav-item4a {
    width: 138px;
}

#nav-item4 {
    width: 78px;
}

#nav-item5a {
    width: 128px;
}

#nav-item5 {
    width: 105px;
}

.bubble11 {
    background-image: url('Bubbles/Bubbles/bubble1_1.png');
}

.bubble12 {
    background-image: url('Bubbles/Bubbles/bubble1_2.png');
}

.bubble21 {
    background-image: url('Bubbles/Bubbles/bubble2_1.png');
}

.bubble22 {
    background-image: url('Bubbles/Bubbles/bubble1_2.png');
}

.bubble31 {
    background-image: url('Bubbles/Bubbles/bubble3_1.png');
}

.bubble32 {
    background-image: url('Bubbles/Bubbles/bubble3_2.png');
}

.bubble41 {
    background-image: url('Bubbles/Bubbles/bubble4_1.png');
}

.bubble42 {
    background-image: url('Bubbles/Bubbles/bubble4_2.png');
}

.bubble51 {
    background-image: url('Bubbles/Bubbles/bubble5_1.png');
}

.bubble52 {
    background-image: url('Bubbles/Bubbles/bubble5_2.png');
}

.bubble61 {
    background-image: url('Bubbles/Bubbles/bubble6_1.png');
}

.bubble62 {
    background-image: url('Bubbles/Bubbles/bubble6_2.png');
}

.bubble71 {
    background-image: url('Bubbles/Bubbles/bubble7_1.png');
}

.bubble72 {
    background-image: url('Bubbles/Bubbles/bubble7_2.png');
}


#home311{
    z-index: 1000;
    background-size: 150px;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -5%;
    left: 10%;
}

#home321 {
    z-index: 1000;
    background-size: 120px;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 10%;
    left: 10%;
}
#home322{
    z-index: 1000;
    background-size: 60px;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 12%;
    left: 83%;
}
#home611{
    z-index: 1000;
    background-size: 300px;
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: -7.5%;
    left: -7.5%;
}
#home621{
    z-index: 1000;
    background-size: 100px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10%;
    left: 85%;
}
#home622{
    z-index: 1000;
    background-size: 175px;
    width: 175px;
    height: 175px;
    position: absolute;
    top: 35%;
    left: 90%;
}

#about621 {
    z-index: 1000;
    background-size: 70px;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 75%;
    left: 108%;
}

#about321 {
    z-index: 1000;
    background-size: 120px;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 10%;
    left: 115%;
}

#about411 {
    z-index: 1000;
    background-size: 300px;
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: -25%;
    left: 170%;
}

#about111 {
    z-index: 1000;
    background-size: 80px;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 6%;
    left: 185%;
}

#products321 {
    z-index: 5;
    background-size: 120px;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 55%;
    left: 210%;
}

#products721 {
    z-index: 5;
    background-size: 70px;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 65%;
    left: 205%;
}

#products521 {
    z-index: 1000;
    background-size: 150px;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 10%;
    left: 285%;
}

#products411 {
    z-index: 5;
    background-size: 350px;
    width: 350px;
    height: 350px;
    position: absolute;
    bottom: -20%;
    left: 270%;
}

#contact421 {
    z-index: 1000;
    background-size: 150px;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 5%;
    left: 325%;
}

#contact721 {
    z-index: 5;
    background-size: 100px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 310%;
}

#contact611 {
    z-index: 5;
    background-size: 300px;
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: -25%;
    left: 325%;
}

#contact621 {
    z-index: 5;
    background-size: 60px;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 45%;
    left: 380%;
}

#contact622 {
    z-index: 5;
    background-size: 90px;
    width: 90px;
    height: 90px;
    position: absolute;
    top: 48%;
    left: 375%;
}

#contact711 {
    z-index: 5;
    background-size: 220px;
    width: 220px;
    height: 220px;
    position: absolute;
    bottom: -10%;
    left: 387%;
}

#impressum721 {
    z-index: 1000;
    background-size: 170px;
    width: 170px;
    height: 170px;
    position: absolute;
    top: 30%;
    left: 406%;
}

#impressum121 {
    z-index: 1000;
    background-size: 100px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10%;
    left: 465%;
}

#impressum321 {
    z-index: 1000;
    background-size: 70px;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 15%;
    left: 475%;
}

#impressum611 {
    z-index: 5;
    background-size: 300px;
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: -15%;
    left: 480%;
}

#preload {
    display: none;
}

#preload img {
    height: 0;
    width: 0;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -30;
}